<!DOCTYPE html>
<html lang="en">
    <head>
        {{template "head"}}
        <link rel="stylesheet" href="/assets/css/thread.css" />
        <link rel="stylesheet" href="/assets/css/post.css" />
    </head>
    <body>
        <div class="threadPage">
            <div class="links">
                <a href="/">Main page</a>
                <a href="/boards/{{ .boardCode }}">/{{ .boardCode }}/</a>
            </div>
            <form class="postForm" action="/posts" method="POST" enctype="multipart/form-data">
                <input type="hidden" name="threadID" value="{{.threadID}}" />
                <textarea placeholder="Text" name="body"></textarea>
                <input
                    type="file"
                    accept="image/jpeg,image/png,image/webp"
                    name="files"
                    multiple
                />
                <button>Post</button>
            </form>
            {{range .posts}}
                <div class="post">
                    <div class="meta">
                        <div>#{{.ID}}</div>
                        <div>{{.CreatedAt.Format "02 Jan 2006, 15:04:05 -07"}}</div>
                    </div>
                    {{if .Files}}
                        <div class="images">
                            {{range .Files}}
                                <div class="image">
                                    <img src="/uploads/{{.Filepath}}" />
                                </div>
                            {{end}}
                        </div>
                    {{end}}
                    <div>{{.Body}}</div>
                </div>
            {{end}}
        </div>
    </body>
</html>
