.Page {
    padding: 10px;
}

.Title {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.NewThreadForm textarea,
.NewThreadForm button {
    width: 100%;
    padding: 8px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: transparent;
    color: white;
}

.NewThreadForm textarea {
    margin-bottom: 10px;
    outline: none;
    max-width: 100%;
    min-width: 100%;
}

.NewThreadForm button {
    cursor: pointer;
}
