@font-face {
  font-family: "Inter Regular";
  src:
    local("Inter Regular"),
    url("/assets/fonts/Inter-Regular.ttf") format("truetype");
}

body {
    margin: 0;
    font-family: 'Inter Regular', sans-serif;
    padding: 10px;
    background-color: #1d1926;
    color: white;
    font-size: 16px;
}

a {
    color: inherit;
}

button,
input,
textarea {
    font-size: inherit;
    font-family: inherit;
    background-color: #322643;
    color: white;
    border-radius: 5px;
    border: 1px solid #67637e;
    transition: border-color 0.05s ease-in-out;
    outline: none;
    padding: 10px;
}

button:hover,
input:hover,
textarea:hover,
button:focus,
input:focus,
textarea:focus {
  border-color: #8b7ed7;
}

button {
  cursor: pointer;
}

input[type=checkbox] {
  cursor: pointer;
}

* {
    box-sizing: border-box;
}
