.threadPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1em;
}

.links {
    display: flex;
    gap: 1em;
    margin-bottom: 2em;
}

.postForm {
    width: 100%;
    max-width: 450px;
}

.postForm textarea,
.postForm button {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

.postForm textarea {
    margin-bottom: 10px;
    min-width: 100%;
    max-width: 100%;
    min-height: 100px;
    outline: none;
}

.postForm input[type=file] {
    margin-bottom: 10px;
}

.postForm button {
    margin-bottom: 2em;
    cursor: pointer;
}
