body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.form {
  width: 100%;
  max-width: 400px;
}

.form input,
.form button {
  width: 100%;
}

.form input {
  margin-bottom: 10px;
}

.form button {
  margin-top: 10px;
  cursor: pointer;
}
