.boardPage {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1em;
}

.mainPage {
    margin-bottom: 2em;
}

.info {
    display: flex;
    gap: 1em;
    margin-bottom: 2em;
    font-size: 12px;
}

.info,
.description,
.threadForm {
  width: 100%;
  max-width: 450px;
}

.description {
  margin-bottom: 24px;
}

.thread {
    text-decoration: none;
}

.threadForm input[type=file] {
    margin-bottom: 10px;
    cursor: pointer;
    width: 100%;
}

.threadForm textarea,
.threadForm button {
    width: 100%;
}

.threadForm textarea {
    margin-bottom: 10px;
    min-width: 100%;
    max-width: 100%;
    min-height: 100px;
}

.threadForm button {
    margin-bottom: 2em;
}

#newThreadBtn {
  width: 100%;
  max-width: 450px;
  margin-bottom: 2em;
  display: none;
}

.pages {
    display: flex;
    gap: 10px;
}

.pageBtn {
    padding: 10px 13px;
    background-color: var(--fg-dark);
    text-decoration: none;
    border-radius: 5px;
}
