.threadPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1em;
}

.links {
    display: flex;
    gap: 1em;
    margin-bottom: 2em;
}

.postForm {
    width: 100%;
    max-width: 600px;
}

.postForm textarea,
.postForm button {
    width: 100%;
}

.postForm textarea {
    margin-bottom: 10px;
    min-width: 100%;
    max-width: 100%;
    min-height: 100px;
}

.postForm input[type=file] {
    margin-bottom: 10px;
    width: 100%;
}

.postForm button {
    margin-bottom: 2em;
    cursor: pointer;
}

#newReplyBtn {
  width: 100%;
  max-width: 600px;
  margin-bottom: 2em;
  display: none;
}
