<!DOCTYPE html>
<html lang="en">
  <head>
    {{ template "head" . }}
    <title>Admin panel - Microboard</title>
    <link rel="stylesheet" href="/assets/css/admin.css" />
    <script src="/assets/js/board-editor.js"></script>
  </head>
  <body class="page">
    {{ range $idx, $board := .boards }}
      <form class="board" method="POST" action="/boards/{{ $board.Code }}">
        <h2>/{{ $board.Code }}/</h2>
        <div class="row">
          <div>
            <label>Code</label>
            <input
              value="{{ $board.Code }}"
              class="code"
              name="code"
              readonly
            />
          </div>
          <div class="name">
            <label>Name</label>
            <input
              name="boardName"
              value="{{ $board.Name }}"
              required
            />
          </div>
        </div>

        <label>Description</label>
        <textarea name="description" required>{{ $board.Description }}</textarea>

        <div class="row">
          <div>
            <label>Page limit</label>
            <input
              type="number"
              name="pageLimit"
              value="{{ $board.PageLimit }}"
            />
          </div>
          <div>
            <label>Bump limit</label>
            <input
              type="number"
              name="bumpLimit"
              value="{{ $board.BumpLimit }}"
            />
          </div>
          <input
            type="checkbox"
            id="unlisted-{{ $idx }}"
            name="unlisted"
            value="true"
            {{ if $board.Unlisted }}checked{{ end }}
          />
          <label for="unlisted-{{ $idx }}">Unlisted</label>
        </div>

        <button type="submit">Save</button>
        <button type="button" onClick="deleteBoard({{ $board.Code }})">Delete</button>
      </form>
    {{ end }}

    <form class="board" method="POST" action="/boards">
      <h2>New board</h2>
      <div class="row">
        <div>
          <label>Code</label>
          <input
            name="code"
            class="code"
            placeholder="b"
          />
        </div>
        <div class="name">
          <label>Name</label>
          <input
            name="boardName"
            placeholder="Random"
            required
          />
        </div>
      </div>

      <label>Description</label>
      <textarea
        name="description"
        placeholder="Description of the board (a few sentences)."
        required
      ></textarea>

      <div class="row">
        <div>
          <label>Page limit (0 - no limit)</label>
          <input
            type="number"
            name="pageLimit"
            value="0"
          />
        </div>
        <div>
          <label>Bump limit (0 - no limit)</label>
          <input
            type="number"
            name="bumpLimit"
            value="0"
          />
        </div>
        <input
          type="checkbox"
          id="unlisted"
        />
        <label for="unlisted">Unlisted</label>
      </div>

      <button>Create a board</button>
    </form>
  </body>
</html>
