<!DOCTYPE html>
<html lang="en">
  <head>
    {{ template "head" . }}
    <title>/{{ .board.Code }}/ - Microboard</title>
    <link rel="stylesheet" href="/assets/css/board.css" />
    <link rel="stylesheet" href="/assets/css/post.css" />
    <link rel="stylesheet" href="/assets/css/fileviewer.css" />
    <script src="/assets/js/board.js"></script>
    <script src="/assets/js/fileviewer.js"></script>
    <script>
      window.files = [
        {{ range .threads }}
          {{ range .Files }}
            { id: {{ .ID }}, url: "{{ .Filepath }}", mimetype: "{{ .MimeType }}" },
          {{ end }}
          {{ range .LatestPosts }}
            {{ range .Files }}
              { id: {{ .ID }}, url: "{{ .Filepath }}", mimetype: "{{ .MimeType }}" },
            {{ end }}
          {{ end }}
        {{ end }}
      ]
    </script>
  </head>
  <body>
    <div class="boardPage">
      <a href="/" class="mainPage">Main page</a>

      <p class="description">{{ .board.Description }}</p>
      <div class="info">
        <div>Page limit: {{ if eq .board.PageLimit 0 }}disabled{{ else }}{{ .board.PageLimit }}{{ end }}</div>
        <div>Bump limit: {{ if eq .board.BumpLimit 0 }}disabled{{ else }}{{ .board.BumpLimit }}{{ end }}</div>
      </div>

      <form class="threadForm" action="/threads" method="POST" enctype="multipart/form-data" id="threadForm">
        <input type="hidden" name="boardCode" value="{{.board.Code}}" />
        <textarea placeholder="Text" name="body"></textarea>
        <input
          type="file"
          accept="image/jpeg,image/png,image/webp"
          name="files"
          multiple
        />

        <div class="captcha">
          <img src="/api/v0/captcha/{{ .captchaID }}" />
          <input type="hidden" name="captchaID" value="{{ .captchaID }}" />
          <input type="text" name="answer" placeholder="Captcha (case insensitive)" required />
        </div>

        <button>Post</button>
      </form>
      <button id="newThreadBtn" onclick="showThreadForm()">
        Create a thread
      </button>
      {{if not .threads}}
        <p>Create the first thread on this board!</p>
      {{end}}
      {{range .threads}}
        <div class="thread post">
          <div class="meta">
            <div>#{{.PostID}}</div>
            <div>{{.PostCreatedAt.Format "02 Jan 2006, 15:04:05 -07"}}</div>
            <div class="space"></div>
            <a href="/threads/{{ .ID }}">Open thread</a>
          </div>
          {{ if .Files }}
            <div class="images">
              {{range .Files}}
                <div>
                  <div class="file" onclick="showFileViewer({{ .ID }})">
                    {{ if .Preview }}
                      <img src="/previews/{{ .Preview }}" />
                    {{ else }}
                      preview is not available
                    {{ end }}
                  </div>
                  <a class="filename" href="/uploads/{{ .Filepath }}" target="_blank">{{ .Name }}</a>
                </div>
              {{ end }}
            </div>
          {{ end }}
          <div>{{.Body}}</div>
        </div>
        {{ range .LatestPosts }}
          <div class="reply">
            <div class="meta">
              <div>#{{ .ID }}</div>
              <div>{{ .CreatedAt.Format "02 Jan 2006, 15:04:05 -07" }}</div>
            </div>

            {{ if .Files }}
              <div class="images">
                {{range .Files}}
                  <div>
                    <div class="file" onclick="showFileViewer({{ .ID }})">
                      {{ if .Preview }}
                        <img src="/previews/{{ .Preview }}" />
                      {{ else }}
                        preview is not available
                      {{ end }}
                    </div>
                    <a class="filename" href="/uploads/{{ .Filepath }}" target="_blank">{{ .Name }}</a>
                  </div>
                {{ end }}
              </div>
            {{ end }}

            {{ .Body }}
          </div>
        {{ end }}
      {{end}}

      <div class="pages">
        {{range $val := loop 1 .pageCount }}
          <a href="/boards/{{$.board.Code}}?page={{ $val }}" class="pageBtn">{{ $val }}</a>
        {{end}}
      </div>

      {{ template "fileviewer" . }}
    </div>
  </body>
</html>
