<!DOCTYPE html>
<html lang="en">
  <head>
    {{ template "head" . }}
    <title>Error - Microboard</title>
  </head>
  <body>
    <h1>Error</h1>
    <code>{{.error}}</code>
    <p>
      <a href="/">Main page</a>
    </p>
  </body>
</html>
