{{ define "fileviewer" }}
  <div id="fileviewer">
    <button onclick="showPrevFile(event)">
      <img src="/assets/icons/chevron_left.svg" width="20px" height="20px" />
    </button>
    <div id="fileviewer-content"></div>
    <button onclick="showNextFile(event)">
      <img src="/assets/icons/chevron_right.svg" width="20px" height="20px" />
    </button>
  </div>
{{ end }}
