{{ define "head" }}
<title>Microboard</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="/assets/css/base.css" />
{{ if isNotEmpty .plausibleSrc }}
  {{ if isNotEmpty .domain }}
    <script defer data-domain="{{ .domain }}" src="{{ .plausibleSrc }}"></script>
  {{ end }}
{{ end }}
{{ end }}
