{{ define "head" }}
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="/assets/css/base.css" />

<link rel="shortcut icon" type="image/ico" href="/assets/img/favicon/favicon.ico" />
<link rel="icon" type="image/svg+xml" href="/assets/img/favicon/favicon.svg">
<link rel="icon" type="image/png" href="/assets/img/favicon/favicon-16.png" sizes="16x16">
<link rel="icon" type="image/png" href="/assets/img/favicon/favicon-32.png" sizes="32x32">
<link rel="apple-touch-icon" type="image/png" href="/assets/img/favicon/favicon-apple.png" sizes="180x180"/>

{{ if isNotEmpty .plausibleSrc }}
  {{ if isNotEmpty .domain }}
    <script defer data-domain="{{ .domain }}" src="{{ .plausibleSrc }}"></script>
  {{ end }}
{{ end }}
{{ end }}
