<!DOCTYPE html>
<html lang="en">
  <head>
    {{ template "head" . }}
    <link rel="stylesheet" href="/assets/css/index.css" />
  </head>
  <body>
    <div class="indexPage">
      <div class="art">
        <img
          src="/assets/img/art.jpg"
          alt="The main photo of the site: 2 people are sitting in front of a fireplace at night with glasses in their hands."
        />
        <div class="credits">
          Photo by <a href="https://unsplash.com/@snight">Sergei Solo</a> on <a href="https://unsplash.com/photos/Zif9OPYfwdE">Unsplash</a>
        </div>
      </div>
      {{range .boards}}
        {{ if not .Unlisted }}
          <a href="/boards/{{.Code}}" class="boardCard">
            <div class="boardCode">{{.Code}}</div>
            <div class="boardName">{{.Name}}</div>
          </a>
        {{ end }}
      {{end}}
    </div>
  </body>
</html>
