.AdminPanel {
    padding: 10px;
}

.BoardForm {
    display: flex;
    gap: 5px;
    width: 100%;
    margin-bottom: 1em;
}

.BoardForm input,
.BoardForm button {
    padding: 8px 10px;
    background-color: transparent;
    color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.05s ease-in-out;
}

.BoardForm input:hover,
.BoardForm input:focus,
.BoardForm button:hover,
.BoardForm button:active {
    border-color: #d096ff;
}

.BoardForm input {
    width: auto;
    min-width: 0;
    flex-grow: 1;
}

.BoardForm button {
    cursor: pointer;
}

.BoardRecord {
    display: flex;
    margin-bottom: 10px;
    width: 100%;
}

.BoardCode,
.BoardName,
.DeleteBoardBtn {
    padding: 10px 12px;
}

.BoardCode {
    background-color: #444;
    width: 40px;
    border-radius: 5px 0 0 5px;
    text-align: center;
}

.BoardName {
    background-color: #333;
    flex-grow: 1;
}

.DeleteBoardBtn {
    background-color: #333;
    color: white;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: background-color 0.05s ease-in-out;
}

.DeleteBoardBtn:hover {
    background-color: #444;
}
